@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var activeBoards = Model.Metadata.Title == "ProductBoards" ? "nav-link py-3 active" : "nav-link py-3";
    var activeBoardDetails = Model.Metadata.Title == "ProductBoardDetails" ? "nav-link py-3 active" : "nav-link py-3";
    var productBoardsClass = Model.Metadata.Title == "ProductBoardDetails" ? activeBoardDetails : activeBoards;

    var activeUserSettings = Model.Metadata.Title == "UserSettings" ? "nav-link py-3 active" : "nav-link py-3";
    var activeOrderHistory = Model.Metadata.Title == "OrderHistory" ? "nav-link py-3 active" : "nav-link py-3";
    var activeAccountSupport = Model.Metadata.Title == "AccountSupport" ? "nav-link py-3 active" : "nav-link py-3";
    var activeReturnLabel = Model.Metadata.Title == "PrintReturnLabel" ? "nav-link py-3 active" : "nav-link py-3";
}

<main role="main" class="account-profile mt-3 text-size-normal">
    <div class="row h-100 mx-0 no-gutters">
        <div class="col-11 col-lg-10 mx-auto">
            <div class="row no-gutters justify-content-center align-content-start align-content-lg-stretch h-100">
                <div class="col-12 col-lg-2 account-profile-nav-col justify-content-center border-right pt-5">
                    <nav class="navbar navbar-expand-lg navbar-light navbar-right justify-content-center justify-content-lg-between flex-wrap p-0">
                        <h4 class="navbar-brand heading-4 semibold w-100 text-center text-lg-left" href="#">
                            Account Profile
                        </h4>
                        <button class="navbar-toggler ml-1 border-0 text-size-large" type="button" data-toggle="collapse"
                                data-target="#account-profile-navbar" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="black"><i class="fas fa-bars"></i></span>
                        </button>
                        <!-- Links -->
                        <div class="collapse navbar-collapse mt-5 w-100" id="account-profile-navbar">
                            <ul class="navbar-nav flex-column w-100">
                                <li class="nav-item">
                                    <a class="@activeUserSettings" href="#"><i class="far fa-cog pr-3"></i>User Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="@activeOrderHistory" href="#"><i class="fal fa-receipt pr-3"></i>Order History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="@productBoardsClass" href='@Url.Action("MyBoards", "ProductBoards")'><i class="fal fa-heart pr-3"></i>Product Boards</a>
                                </li>
                                <li class="nav-item">
                                    <a class="@activeAccountSupport" href="#"><i class="fal fa-phone-alt pr-3"></i>Account Support</a>
                                </li>
                                <li class="nav-item">
                                    <a class="@activeReturnLabel" href="#"><i class="far fa-envelope pr-3"></i>Print Return Label</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                @RenderBody()

            </div>
        </div>
    </div>

</main>
@section ViewScript {
    @RenderSection("ViewScript", required: false)
}
@*<script type="text/javascript">
        $("#account-profile-navbar a").click(function () {
            var btnId = $(this).attr('id');
            var buttons = $('#account-profile-navbar').find('a');
            for (var i = 0; i < buttons.length; i++) {
                $(buttons[i]).removeClass("active");
            }
            $('#' + btnId).addClass("active");
        });
    </script>*@

