@using ShawContract.Models
@using ShawContract.Models.Cart
@using ShawContract.Application.Models.Product

@model PageViewModel<CartViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var visibility = Model.Data.ItemsCount > 0 ? "visible" : "hidden";
}

<main role="main" class="primary flex-shrink-0 checkout">
    <section class="container">
        <div class="title-section border-bottom pb-3 pb-md-5">
            <div class="mark"></div>
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <h1 class="title heading-1">
                        @Model.Data.Title
                    </h1>
                    <p class="heading-3">
                        @Model.Data.Description
                    </p>
                </div>
            </div>
        </div>

        @{ Html.RenderAction("Index", "CartItems"); }

        <div class="row d-flex justify-content-between mt-6 pb-3 pb-md-5 border-bottom">
            <div class="col-12 col-lg-3 col-md-4 my-3">
                <a href='@Url.Action("Products")' id="backBtn" class="btn btn-tertiary text-gray letter-spacing-normal w-100 h-100 py-4">Back to Products</a>
            </div>
            <div style="visibility: @visibility" class="col-12 col-lg-3 col-md-4 my-3">
                <a id="submitBtn" name="Checkout" href="@Url.Action("Checkout")"
                   class="btn btn-primary letter-spacing-normal w-100 h-100 px-5 py-4">
                    Checkout
                </a>
            </div>
        </div>
        @{ Html.RenderAction("GetSimilarProducts"); }
    </section>
</main>

@section ViewScript {
    <script>
        function removeItem(elem) {

            var id = elem.attributes["data-id"].value;

            $("#removeItemId").val(id);
        }

        (function () {
            var submitBtn = document.querySelector('.checkout #submitBtn');
            if (!!submitBtn) {
                submitBtn.addEventListener('click', __checkSampleCount(function () {
                    //if the form is valid and something needs to be done before redirecting
                }));
            }
        })();
    </script>
}