@model ShawContract.Models.PageViewModel<ShawContract.Models.Personalization.UserSettingsViewModel>
@{
    Layout = "~/Views/Shared/_AccountProfileLayout.cshtml";
}

<div class="user-settings col-12 col-lg-10 pt-4 mb-3 mb-md-5">
    <div class="row justify-content-center pt-5">
        <div class="col-12 col-lg-11">
            <section class="intro-wrapper">
                <div class="row">
                    <div class="col-12 col-md-8 d-flex justify-content-center justify-content-md-start">
                        <div class="row w-100 justify-content-center justify-content-md-start">
                            <div class="img-wrapper ml-4">
                                <img src="../src/images/Image 10@2x.png" alt="">
                            </div>
                            <div class="col-12 col-md-7 py-5 text-center text-lg-left">
                                <h3 class="pt-3">@Model.Data.FirstName @Model.Data.LastName</h3>
                                <span class="gray-semibold">@Model.Data.JobTitle , @Model.Data.CompanyName</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
                        <div class="text-center text-md-right">
                            <h4>Quick Links</h4>
                            <ul class="list-unstyled quick-links gray-semibold">
                                <li>Personal Information</li>
                                <li>Company Information</li>
                                <li>Shipping Addresses</li>
                                <li>Communication Preferences</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="personal-information-wrapper mt-5 pt-lg-5">
                <h2 class="pb-4">Personal Information</h2>
                @using (Html.BeginForm("SavePersonalInfo", "UserSettings", FormMethod.Post, new { @class = "personal-information-form" }))
                {
                    <div class="form-group">
                        <div class="row mb-3">
                            <div class="col-lg-2 col-12-6 col-xs-12">
                                <label for="title">Title</label>
                                @*<select id="title" class="selectpicker form-control form-control-lg" name="title"
                                            data-style="select-style --white" title="Select title...">
                                        <option value="Mr">Mr.</option>
                                        <option value="Ms">Ms.</option>
                                    </select>*@
                                @Html.DropDownListFor(m => m.Data.Title, new SelectList(Model.Data.Titles), "Select title", new { @class = "selectpicker form-control form-control-lg" })
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <label for="first-name">First Name<span class="text-danger"> *</span></label>
                                @*<input type="text" id="first-name" name="firstName" class="form-control form-control-lg" value="@Model.Data.FirstName">*@
                                @Html.TextBoxFor(m => m.Data.FirstName, new { @class = "form-control form-control-lg" })
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <label for="last-name">Last Name<span class="text-danger"> *</span></label>
                                @*<input type="text" id="last-name" name="lastName" class="form-control form-control-lg" value="@Model.Data.LastName">*@
                                @Html.TextBoxFor(m => m.Data.LastName, new { @class = "form-control form-control-lg" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-5 col-md-6 col-xs-12 pt-4">
                                <label for="email">Email Address<span class="text-danger"> *</span></label>
                                @*<input type="text" id="email" name="email" class="form-control form-control-lg" value="@Model.Data.Email">*@
                                @Html.TextBoxFor(m => m.Data.Email, new { @class = "form-control form-control-lg" })
                            </div>
                            <div class="col-lg-5 col-md-6 col-xs-12">
                                <label for="password" class="mt-20">Password<span class="text-danger"> *</span></label>
                                <div class="input-group">
                                    <input type="password" id="password" name="password" class="form-control form-control-lg">
                                    <div class="input-group-append">
                                        <button id="toggle-password-btn" class="btn show-btn text-size-small" type="button">Show</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-5 col-md-6 col-xs-12">
                                <label id="personal-cell-number-label" class="mt-20" for="personal-phone-number">
                                    Cell / SMS Alert
                                    Number<span class="text-danger">*</span>
                                </label>
                                @*<input type="text" id="personal-phone-number" name="phoneNumber" class="form-control form-control-lg phone-number" value="@Model.Data.CellPhone">*@
                                @Html.TextBoxFor(m => m.Data.CellPhone, new { @class = "form-control form-control-lg phone-number" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary letter-spacing-normal py-3 px-5 mt-4">
                            Save Personal Information
                        </button>
                    </div>
                }
            </section>
            <section class="company-information-wrapper mt-5 pt-lg-5">
                <h2>Company Information</h2>

                @using (Html.BeginForm("SaveCompanyInfo", "UserSettings", FormMethod.Post, new { @class = "company-information-form" }))
                {
                    <div class="form-group">
                        <div class="row mb-3">
                            <div class="col-lg-5 col-md-6 col-xs-12 pt-4">
                                <label for="company-name">Company Name<span class="text-danger"> *</span></label>
                                @*<input type="text" id="company-name" name="companyName" class="form-control form-control-lg" value="@Model.Data.CompanyName">*@
                                @Html.TextBoxFor(m => m.Data.CompanyName, new { @class = "form-control form-control-lg" })
                            </div>
                            <div class="col-lg-5 col-md-6 col-xs-12 pt-4">
                                <label for="role-title">Role / Job Title<span class="text-danger"> *</span></label>
                                @*<select id="role-title" name="roleTitle" data-style="select-style --white"
                                            title="Select role..." class="selectpicker form-control form-control-lg">
                                        <option value="Designer">Designer</option>
                                        <option value="Developer">Developer</option>
                                    </select>*@
                                @Html.DropDownListFor(m => m.Data.JobTitle, new SelectList(Model.Data.JobTitles), "Select role", new { @class = "selectpicker form-control form-control-lg" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-5 col-md-6 col-xs-12 pt-4">
                                <label for="work-number" id="work-number-label">Work Number</label>
                                <div class="row">
                                    <div class="col-9">
                                        @*<input type="text" id="work-number" name="workNumber" class="form-control form-control-lg" value="@Model.Data.WorkPhone">*@
                                        @Html.TextBoxFor(m => m.Data.WorkPhone, new { @class = "form-control form-control-lg" })
                                    </div>
                                    <div class="col-3">
                                        @*<input type="text" class="form-control form-control-lg" placeholder="ext." value="@Model.Data.WorkPhoneExtension">*@
                                        @Html.TextBoxFor(m => m.Data.WorkPhoneExtension, new { @class = "form-control form-control-lg" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 col-xs-12 pt-4">
                                <label for="industry">Industry/ Segment<span class="text-danger"> *</span></label>
                                @*<select id="industry" data-style="select-style --white" multiple name="industry"
                                            title="Select industries..." class="selectpicker form-control form-control-lg">
                                        <option value="Ketchup">Ketchup</option>
                                        <option value="Barbecue">Barbecue</option>
                                    </select>*@
                                @Html.DropDownListFor(m => m.Data.Industry, new SelectList(Model.Data.Industries), "Select industry", new { @class = "selectpicker form-control form-control-lg" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary letter-spacing-normal py-3 px-5 mt-4">
                            Save Company Information
                        </button>
                    </div>
                }
            </section>
            <section class="shipping-address-wrapper mt-5 pt-lg-5">
                <h2>Shipping Addresses</h2>
                <div class="row pt-4">
                    <div class="col-lg-4 col-md-12 col-sm-12 pb-5">
                        <div class="address-card">
                            <div class="row">
                                <div class="col-10 info-wrapper">
                                    <h4>title for the address</h4>
                                    <span class="street">456 Wesnt End Ave Chattanooga, TN 34721-0001</span>
                                    <span>SMS Alert #:(423) 555-1234</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 ">
                                    <div class="row pt-2">
                                        <div class="col-12 action-btns">
                                            <span>Edit</span> |
                                            <span>Remove</span> |
                                            <span>Set as default</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 pb-5">
                        <div class="address-card">
                            <div class="row">
                                <div class="col-10 info-wrapper">
                                    <h4>title for the address</h4>
                                    <span class="street">456 Wesnt End Ave</span>
                                    <span>Chattanooga, TN 34721-0001</span>
                                    <span>SMS Alert #:(423) 555-1234</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row pt-2">
                                        <div class="col-9 action-btns">
                                            <span>Edit</span> |
                                            <span>Remove</span>
                                        </div>
                                        <div class="col-3 d-flex justify-content-end">
                                            <span>Default</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <button type="button" data-toggle="modal" data-target="#shippingAddressModal"
                                class="btn btn-primary letter-spacing-normal w-100 py-3">
                            Add new shipping address
                        </button>
                    </div>
                </div>
            </section>
            <section class="communication-wrapper mt-5 pt-lg-5">
                <h2>Communication Preferences</h2>

                @using (Html.BeginForm("SaveCommunicationInfo", "UserSettings", FormMethod.Post, new { @class = "communication-form" }))
                {
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-xs-12 pt-4">
                            <label for="language">
                                Please select your preferred language<span class="text-danger">
                                    *
                                </span>
                            </label>
                            @*<select id="language" data-style="select-style --white" name="language"
                                        title="Select language..." class="selectpicker form-control form-control-lg">
                                    <option value="Designer">Designer</option>
                                    <option value="Developer">Developer</option>
                                </select>*@
                            @Html.DropDownListFor(m => m.Data.Language, new SelectList(Model.Data.Languages), "Select language", new { @class = "selectpicker form-control form-control-lg" })
                        </div>
                    </div>
                    <div class="form-group my-5">
                        <fieldset>
                            <label for="segment">Project Sector / Segment</label>
                            @*<div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="new-porduct">
                                    <label class="custom-control-label" for="new-porduct">New Product Launches</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newsletter">
                                    <label class="custom-control-label" for="newsletter">Periodic Newsletter</label>
                                </div>*@
                            @Html.ListBoxFor(m => m.Data.Segments, new SelectList(Model.Data.SegmentsOptions), new { @class = "selectpicker form-control form-control-lg" })
                        </fieldset>
                    </div>
                    <button type="submit" class="btn btn-primary letter-spacing-normal py-3 px-5">
                        Save Communication Preferences
                    </button>
                }
            </section>
        </div>
    </div>
</div>
