@model ShawContract.Models.PageViewModel<ShawContract.Models.Personalization.UserSettingsViewModel>
@{
    Layout = "~/Views/Shared/_AccountProfileLayout.cshtml";
}

<div class="user-settings col-12 col-lg-10 pt-4 mb-3 mb-md-5">
    <div class="row justify-content-center pt-5">
        <div class="col-12 col-lg-11">
            <section class="intro-wrapper">
                <div class="row">
                    <div class="col-12 col-md-8 d-flex justify-content-center justify-content-md-start">
                        <div class="row w-100 justify-content-center justify-content-md-start">
                            <div class="img-wrapper ml-4">
                                <img src="../src/images/Image 10@2x.png" alt="">
                            </div>
                            <div class="col-12 col-md-7 py-5 text-center text-lg-left">
                                <h3 class="pt-3">@Model.Data.FirstName @Model.Data.LastName</h3>
                                <span class="gray-semibold">@Model.Data.JobTitle , @Model.Data.CompanyName</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
                        <div class="text-center text-md-right">
                            <h4>Quick Links</h4>
                            <ul class="list-unstyled quick-links gray-semibold">
                                <li>Personal Information</li>
                                <li>Company Information</li>
                                <li>Shipping Addresses</li>
                                <li>Communication Preferences</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="personal-information-wrapper mt-5 pt-lg-5">
                <h2 class="pb-4">Personal Information</h2>
                @using (Html.BeginForm("SavePersonalInfo", "UserSettings", FormMethod.Post, new { @id = "personal-information-form" }))
                {
                    <div class="form-group">
                        <div class="row mb-3">
                            <div class="col-lg-2 col-12-6 col-xs-12">
                                <label for="user-title" class="mt-20">Title</label>
                                @Html.DropDownListFor(m => m.Data.Title, new SelectList(Model.Data.Titles, "Value", "Key"), "Select title", new { @id = "user-title", @class = "selectpicker form-control form-control-lg", data_style = "select-style white-text" })
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <label for="firstName" class="mt-20">First Name<span class="red-regular"> *</span></label>
                                @Html.TextBoxFor(m => m.Data.FirstName, new { @id = "firstName", @class = "form-control form-control-lg" })
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <label for="lastName" class="mt-20">Last Name<span class="red-regular"> *</span></label>
                                @Html.TextBoxFor(m => m.Data.LastName, new { @id = "lastName", @class = "form-control form-control-lg" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-5 col-md-6 col-xs-12">
                                <label for="email" class="mt-20">Email Address<span class="red-regular"> *</span></label>
                                @Html.TextBoxFor(m => m.Data.Email, new { @id = "email", @class = "form-control form-control-lg" })
                            </div>
                            <div class="col-lg-5 col-md-6 col-xs-12">
                                <label for="user-password" class="mt-20">Password<span class="red-regular"> *</span></label>
                                <div class="input-group">
                                    <input type="password" id="user-password" name="password" class="form-control form-control-lg">
                                    <div class="input-group-append">
                                        <button id="toggle-password-btn" class="btn show-btn text-size-small" type="button">Show</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-5 col-md-6 col-xs-12">
                                <label id="personal-cell-number-label" class="mt-20" for="phoneNumber">
                                    Cell / SMS Alert Number
                                    <span class="red-regular">*</span>
                                </label>
                                @Html.TextBoxFor(m => m.Data.CellPhone, new { @id = "phoneNumber", @type = "tel", @class = "form-control form-control-lg phone-number" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary letter-spacing-normal py-3 px-5 mt-4">
                            Save Personal Information
                        </button>
                    </div>
                }
            </section>
            <section class="company-information-wrapper mt-5 pt-lg-5">
                <h2>Company Information</h2>

                @using (Html.BeginForm("SaveCompanyInfo", "UserSettings", FormMethod.Post, new { @id = "company-information-form" }))
                {
                    <div class="form-group">
                        <div class="row mb-3">
                            <div class="col-lg-5 col-md-6 col-xs-12">
                                <label for="companyName" class="mt-20">Company Name<span class="red-regular"> *</span></label>
                                @Html.TextBoxFor(m => m.Data.CompanyName, new { @id = "companyName", @class = "form-control form-control-lg" })
                            </div>
                            <div class="col-lg-5 col-md-6 col-xs-12">
                                <label for="roleTitle" class="mt-20">Role / Job Title<span class="red-regular"> *</span></label>
                                @Html.DropDownListFor(m => m.Data.JobTitle, new SelectList(Model.Data.JobTitles, "Value", "Key"), "Select role", new { @id = "roleTitle", @class = "selectpicker form-control form-control-lg", data_style = "select-style white-text" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-5 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-9">
                                        <label for="workPhone" class="mt-20" id="work-number-label">
                                            Work Number
                                        </label>
                                        @Html.TextBoxFor(m => m.Data.WorkPhone, new { @id = "workNumber", @type = "tel", @class = "form-control form-control-lg" })
                                    </div>
                                    <div class="col-3">
                                        <label for="phoneExtension" class="mt-20">
                                            Extension
                                        </label>
                                        @Html.TextBoxFor(m => m.Data.WorkPhoneExtension, new { @id = "phoneExtension", @type = "tel", @class = "form-control form-control-lg" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 col-xs-12">
                                <label for="industry" class="mt-20">Industry/ Segment<span class="red-regular"> *</span></label>
                                @Html.DropDownListFor(m => m.Data.Industry, new SelectList(Model.Data.Industries, "Value", "Key"), "Select industry", new { @id = "industry", @class = "selectpicker form-control form-control-lg", data_style = "select-style white-text" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary letter-spacing-normal py-3 px-5 mt-4">
                            Save Company Information
                        </button>
                    </div>
                }
            </section>
            <section class="shipping-address-wrapper mt-5 pt-lg-5">
                <h2>Shipping Addresses</h2>
                <div class="row pt-4">
                    @for (int i = 0; i < Model.Data.ShippingAddresses.Count; i++)
                    {
                        var address = Model.Data.ShippingAddresses[i];

                        var stateOrProvince = address.State != null ? address.State : address.Province;

                        <div class="col-lg-6 col-md-12 col-sm-12 pb-5">
                            <div class="address-card">
                                <div class="row">
                                    <div class="col-10 info-wrapper">
                                        <h4>@address.Title</h4>
                                        <span class="street">@address.StreetLine1</span>
                                        <span>@address.City, @stateOrProvince @address.PostalCode</span>
                                        <span>SMS Alert #:@address.SmsAlertNumber</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="row pt-2">
                                            <div class="col-12 action-btns">
                                                <span onclick="editAddressModal(@i)">Edit</span>
                                                <span>| @Html.ActionLink("Remove", "RemoveAddress", new { line1 = @address.StreetLine1, line2 = @address.StreetLine2 }) | </span>
                                                @if (!address.IsDefault)
                                                {
                                                    <span>@Html.ActionLink("Set as default", "SetDefaultAddress", new { line1 = @address.StreetLine1, line2 = @address.StreetLine2 })</span>
                                                }
                                                else
                                                {
                                                    <span>default</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <button onclick="addNewAddressModal()"
                                class="btn btn-primary letter-spacing-normal w-100 py-3">
                            Add new shipping address
                        </button>
                    </div>
                </div>
            </section>
            <section class="communication-wrapper mt-5 pt-lg-5">
                <h2>Communication Preferences</h2>

                @using (Html.BeginForm("SaveCommunicationInfo", "UserSettings", FormMethod.Post, new { @id = "communication-form" }))
                {
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-xs-12">
                            <label for="language" class="mt-20">
                                Please select your preferred language
                                <span class="red-regular">
                                    *
                                </span>
                            </label>
                            @Html.DropDownListFor(m => m.Data.Language, new SelectList(Model.Data.Languages, "Value", "Key"), "Select language", new { @id = "language", @class = "selectpicker form-control form-control-lg", data_style = "select-style white-text" })
                        </div>
                    </div>
                    <div class="form-group my-5">
                        <fieldset>
                            <label for="segment" class="mt-20">Project Sector / Segment</label>
                            @Html.ListBoxFor(m => m.Data.Segments, new SelectList(Model.Data.SegmentsOptions, "Value", "Key"), new { @id = "segment", @class = "selectpicker form-control form-control-lg", data_style = "select-style white-text" })
                        </fieldset>
                    </div>
                    <button type="submit" class="btn btn-primary letter-spacing-normal py-3 px-5">
                        Save Communication Preferences
                    </button>
                }
            </section>
        </div>
    </div>
</div>
<div class="modal fade p-0" id="shippingAddressModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="shippingAddressModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="modal-content" class="modal-content">
        </div>
    </div>
</div>

<script>
    var model = @Html.Raw(Json.Encode(Model));

    function editAddressModal(index) {
        model.Data.AddressToEdit = model.Data.ShippingAddresses[index];
        var dataToPost = { userSettings: model.Data };
          $.post('@Url.Action("EditAddress", "UserSettings")', dataToPost, function (data) {
              $("#modal-content").html(data);
              _newAddressFormValidation();
              $('#shippingAddressModal .selectpicker').selectpicker('refresh');
              $('#shippingAddressModal').modal('show');
        });

    }
    function addNewAddressModal() {
        var dataToPost = { userSettings: model.Data };
                 $.post('@Url.Action("AddAddress", "UserSettings")', dataToPost, function (data) {
                     $("#modal-content").html(data);
                     _newAddressFormValidation();
                     $('#shippingAddressModal .selectpicker').selectpicker('refresh');
              $('#shippingAddressModal').modal('show');
        });

    }
</script>