
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@using ShawContract.Models.Home
@using ShawContract.Models;

@model PageViewModel<HomePageViewModel>

@section Styles {
    @Html.Kentico().PageBuilderStyles()
}

<main role="main" class="primary flex-shrink-0">

    <div class="kn-system-messages"></div>
    @Html.Kentico().EditableArea("top")

    @foreach (var item in Model.Data.HomePage.CarouselSections)
    {
        var size = item.IsLarge ? "large" : "small";

        <section class="widget carousel @size">
            <div class="container">
                <div id="@item.Title" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <figure>
                                @{
                                    var doubleImage = !string.IsNullOrEmpty(item.CarouselItems[0].ImageUrl1) && !string.IsNullOrEmpty(item.CarouselItems[0].ImageUrl2) ? "double-image" : string.Empty;
                                }
                                <div class="title-section text-center">
                                    <div class="mark"></div>
                                    <div class="subtitle">
                                        @item.CarouselItems[0].Subtitle
                                    </div>
                                    <div class="title">
                                        @item.CarouselItems[0].Title
                                    </div>

                                    <div class="text-center heading-3 mb-4">
                                        <a href="@item.CarouselItems[0].ButtonUrl">
                                            @item.CarouselItems[0].ButtonText
                                        </a>
                                    </div>

                                </div>
                                <div class="images-wrapper @doubleImage">
                                    <img src="@item.CarouselItems[0].ImageUrl1" alt="" />
                                    @if (!string.IsNullOrEmpty(item.CarouselItems[0].ImageUrl2))
                                    {
                                        <img src="@item.CarouselItems[0].ImageUrl2" alt="" />
                                    }

                                </div>
                                <figcaption class="slide-caption text-size-normal medium">
                                    @item.CarouselItems[0].PhotoCredit
                                </figcaption>

                            </figure>
                        </div>
                        @for (int i = 1; i < item.CarouselItems.Count(); i++)
                        {
                            var doubleImages = !string.IsNullOrEmpty(item.CarouselItems[i].ImageUrl1) && !string.IsNullOrEmpty(item.CarouselItems[i].ImageUrl2) ? "double-image" : string.Empty;
                            <div class="carousel-item">
                                <figure>
                                    <div class="title-section text-center">
                                        <div class="mark"></div>
                                        <div class="subtitle">
                                            @item.CarouselItems[i].Subtitle
                                        </div>
                                        <div class="title">
                                            @item.CarouselItems[i].Title
                                        </div>

                                        <div class="text-center heading-3 mb-4">
                                            <a href="@item.CarouselItems[i].ButtonUrl">
                                                @item.CarouselItems[i].ButtonText
                                            </a>
                                        </div>
                                    </div>
                                    <div class="images-wrapper @doubleImages">
                                        <img src="@item.CarouselItems[i].ImageUrl1" alt="" />
                                        @if (!string.IsNullOrEmpty(item.CarouselItems[i].ImageUrl2))
                                        {
                                            <img src="@item.CarouselItems[i].ImageUrl2" alt="" />
                                        }
                                    </div>
                                    <figcaption class="slide-caption text-size-normal medium">
                                        @item.CarouselItems[i].PhotoCredit
                                    </figcaption>
                                </figure>
                            </div>
                        }
                    </div>
                    <ol class="carousel-indicators">

                        <li data-target="#@item.Title" data-slide-to="0" class="active"></li>
                        @for (int i = 1; i < item.CarouselItems.Count(); i++)
                        {
                            <li data-target="#@item.Title" data-slide-to="@i"></li>
                        }
                    </ol>
                    <a class="carousel-control-prev" href="#@item.Title" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#@item.Title" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>

        @Html.Kentico().EditableArea(item.Title + "-WidgetZone")
    }


</main>

@section Scripts {
    @Html.Kentico().PageBuilderScripts()
}



