@using ShawContract.Models.Blogs
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@model ShawContract.Models.PageViewModel<BlogPageViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main role="main" class="primary blog-list-page pb-0">

    @section Styles {
        @Html.Kentico().PageBuilderStyles()
    }

    <div>
        <div class="kn-system-messages"></div>
        @Html.Kentico().EditableArea("top")
    </div>

    @section Scripts {
        @Html.Kentico().PageBuilderScripts()
    }

    <section class="filter-wrapper">
        <span class="pr-lg-5">I am a</span>

        <select class="personas-dropdown-wrapper selectpicker form-control-lg" data-style="select-style blue-bg personas-dropdown">
            @foreach (var persona in Model.Data.Personas)
            {
                <option class="dropdown-option" value="@persona.Codename">@persona.Name</option>
            }
        </select>
        <span class="px-lg-5">looking to</span>
        <select class="segment-dropdown-wrapper selectpicker form-control-lg" data-style="select-style blue-bg segment-dropdown">
            @foreach (var segment in Model.Data.Segments)
            {
                <option class="dropdown-option" value="@segment.Codename">@segment.Name</option>
            }
        </select>
        <button class="btn filter-btn ml-0 ml-lg-5" type="button" id="filter-btn">show me</button>
    </section>
    <section class="acrticles-wrapper">
        @{ Html.RenderPartial("_BlogArticlesPartial", new BlogArticlesViewModel() { NodeAlias = Model.Metadata.Title, Articles = Model.Data.Articles.ToList() }); }
    </section>

</main>

@section ViewScript {
    <script type="text/javascript">
        (function () {

            function loadAll() {
            $("#load-btn").hide();
            $(".article-hidden").show();
            }

            function filter() {
                var persona = $(".personas-dropdown-wrapper option:selected").val();
                var segment = $(".segment-dropdown-wrapper option:selected").val();

            $.ajax({
                url: '@Url.Action("Filter", "BlogPage", new { nodeAlias = Model.Metadata.Title, })' + '/' + persona + '/' + segment,
                    type: "GET",
                    dataType: "html",
                    async: true,
                success: function (data) {
                    $('.acrticles-wrapper').html(data);

                    // blog cards
                    var tabletBreakpoint = 768;
                    __addLineClamps('.blogs-wrapper .blog-item .description p', tabletBreakpoint, '100px');
                }
            });
        }

        document.getElementById('filter-btn').addEventListener('click', filter);
        })();
    </script>
}




