@using ShawContract.Models.InlineEditors
@using ShawContract.Models.Widgets.DoubleImageWidget
@using System.Text.RegularExpressions
@using ShawContract.Models.Widgets.WidgetShared;
@model ShawContract.Models.Widgets.DoubleImageWidget.DoubleImageWidgetViewModel

@{
    var editMode = Context.Kentico().PageBuilder().EditMode;
    var smallImageUrl = string.IsNullOrEmpty(Model.SmallImage) ? "https://placehold.it/387x274/a3d1d0" : Model.SmallImage;
    var largeImageUrl = string.IsNullOrEmpty(Model.LargeImage) ? "https://placehold.it/775x539" : Model.LargeImage;
}

<section class="widget double-floating-img now-viewable">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="relative-wrapper">
                    <div class="img-box">
                        <img class="" src="@largeImageUrl" alt="description">
                        <div class="photo-credits left">
                            @if (editMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(DoubleImageWidgetProperties.LargeImagePhotoCredit),
                                    Text = Model.LargeImagePhotoCredit,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.LargeImagePhotoCredit)
                            }
                        </div>
                    </div>
                    <div class="ghost-box"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card info-card text-left">
                    <div class="card-body">
                        <div class="mark"></div>
                        <h5 class="card-title">
                            @if (editMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(DoubleImageWidgetProperties.Title),
                                    Text = Model.Title,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.Title)
                            }
                        </h5>
                        <div class="card-text">
                            @if (editMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(DoubleImageWidgetProperties.Description),
                                    Text = Model.Description,
                                    EnableFormatting = true
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.Description)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 offset-lg-6 d-none d-lg-block">
                <div class="relative-wrapper">
                    <div class="shift-box">
                        <div class="img-box">
                            <img class="small-image" src="@smallImageUrl" alt="description" data-object-fit/>
                            <div class="photo-credits">
                                @if (editMode)
                                {
                                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                    {
                                        PropertyName = nameof(DoubleImageWidgetProperties.SmallImagePhotoCredit),
                                        Text = Model.SmallImagePhotoCredit,
                                        EnableFormatting = false
                                    });
                                }
                                else
                                {
                                    @Html.Raw(Model.SmallImagePhotoCredit)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="push-box"></div>
                </div>
            </div>
        </div>
    </div>
</section>