@using ShawContract.Utils
@using ShawContract.Models.Widgets.FullWidthVideoWidget;
@using ShawContract.Models.InlineEditors;
@using System.Text.RegularExpressions

@model ShawContract.Models.Widgets.FullWidthVideoWidget.FullWidthVideoWidgetViewModel

@{
    var editMode = Context.Kentico().PageBuilder().EditMode;
    var imageSource = !string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "https://placehold.it/1110x766/a3d1d0";
}
<section class="widget full-width-img right now-viewable">
    <div class="gray-stripe"></div>
    <div class="container">
        <div class="img-box">
            <img class="full-img" src="@imageSource" alt="description">
            <div class="photo-credits">
                @if (editMode)
                {
                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                    {
                        PropertyName = nameof(FullWidthVideoWidgetProperties.PhotoCredit),
                        Text = Model.PhotoCredit,
                        EnableFormatting = false
                    });
                }
                else
                {
                    @Html.Raw(Model.PhotoCredit)
                }
            </div>

            <div class="card info-card">
                <div class="card-body">
                    <div class="mark"></div>
                    <h5 class="card-title">
                        @if (editMode)
                        {
                            Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                            {
                                PropertyName = nameof(FullWidthVideoWidgetProperties.Title),
                                Text = Model.Title,
                                EnableFormatting = false
                            });
                        }
                        else
                        {
                            @Html.Raw(Model.Title)
                        }
                    </h5>
                    <div class="card-text">
                        @if (editMode)
                        {
                            Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                            {
                                PropertyName = nameof(FullWidthVideoWidgetProperties.Description),
                                Text = Model.Description,
                                EnableFormatting = true
                            });
                        }
                        else
                        {
                            @Html.Raw(Model.Description)
                        }
                    </div>

                    <a class="btn btn-card" href="@Model.VideoUrl" data-fslightbox="gallery">
                        Watch Video
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/InlineEditors/ImageUploaderEditor/fslightbox.js"></script>