@using ShawContract.Models.Widgets.FullWidthPhotoWidget;
@using ShawContract.Models.InlineEditors;
@using System.Text.RegularExpressions;

@model ShawContract.Models.Widgets.FullWidthPhotoWidget.FullWidthPhotoViewModel

@{
    var editMode = Context.Kentico().PageBuilder().EditMode;
    var imageSource = !string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "https://placehold.it/1110x766/a3d1d0";
    var imagePosition = Model.TextBoxAlignment == "right" ? "right" : string.Empty;
    var fullScreen = Model.IsFullWidth ? "full-screen" : string.Empty;

}

<section class="widget full-width-img @fullScreen @imagePosition now-viewable">
    <div class="gray-stripe"></div>
    <div class="container">
        <div class="img-box">
            <img class="full-img" src="@imageSource" alt="description" data-object-fit />
            <div class="photo-credits">
                @if (editMode)
                {
                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                    {
                        PropertyName = nameof(FullWidthPhotoWidgetProperties.PhotoCredit),
                        Text = Model.PhotoCredit,
                        EnableFormatting = false
                    });
                }
                else
                {
                    @Html.Raw(Model.PhotoCredit)
                }
            </div>

            <div class="card info-card">
                <div class="card-body">
                    <div class="mark"></div>
                    <h5 class="card-title">
                        @if (editMode)
                        {
                            Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                            {
                                PropertyName = nameof(FullWidthPhotoWidgetProperties.Title),
                                Text = Model.Title,
                                EnableFormatting = false
                            });
                        }
                        else
                        {
                            @Html.Raw(Model.Title)
                        }
                    </h5>
                    <p class="card-text">
                        @if (editMode)
                        {
                            Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                            {
                                PropertyName = nameof(FullWidthPhotoWidgetProperties.Description),
                                Text = Model.Description,
                                EnableFormatting = true
                            });
                        }
                        else
                        {
                            @Html.Raw(Model.Description)
                        }
                    </p>
                    <a href="@Model.ButtonUrl" class="btn btn-card large-btn">

                        @if (editMode)
                        {
                            Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                            {
                                PropertyName = nameof(FullWidthPhotoWidgetProperties.ButtonText),
                                Text = Model.ButtonText,
                                EnableFormatting = false
                            });
                        }
                        else
                        {
                            var buttonText = Regex.Replace(Model.ButtonText ?? "", "<.*?>", String.Empty);
                            @Html.Raw(buttonText)
                        }
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>