@using ShawContract.Models.Widgets.QuoteBoxWidget;
@using ShawContract.Models.InlineEditors;
@using System.Text.RegularExpressions;

@model ShawContract.Models.Widgets.QuoteBoxWidget.QuoteBoxWidgetViewModel

@{
    var editMode = Context.Kentico().PageBuilder().EditMode;
    var imageSource = !string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "https://placehold.it/387x539";
}

<div class="container">
    <section class="widget quote-box now-viewable">
        <div class="row">
            @if (Model.ImageAlignment == "right")
            {
                <div class="col-12 col-lg-8">
                    <div class="text-area">
                        <p class="the-quote">
                            <i class="fas fa-quote-left" aria-hidden="true"></i>
                            @if (editMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(QuoteBoxWidgetProperties.Quote),
                                    Text = Model.Quote,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                var quoteText = Regex.Replace(Model.Quote ?? "", "<.*?>", String.Empty);
                                @Html.Raw(quoteText)
                            }
                        </p>
                        <p class="the-attribution">
                            @if (editMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(QuoteBoxWidgetProperties.Attribution),
                                    Text = Model.Attribution,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                var attributionText = Regex.Replace(Model.Attribution ?? "", "<.*?>", String.Empty);
                                @Html.Raw(attributionText)
                            }
                        </p>
                        <p class="the-link">
                            <a href="@Model.ButtonUrl">
                                <span>
                                    @if (editMode)
                                    {
                                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                        {
                                            PropertyName = nameof(QuoteBoxWidgetProperties.ButtonText),
                                            Text = Model.ButtonText,
                                            EnableFormatting = false
                                        });
                                    }
                                    else
                                    {
                                        var buttonText = Regex.Replace(Model.ButtonText ?? "", "<.*?>", String.Empty);
                                        @Html.Raw(buttonText)
                                    }
                                </span>
                                <i class="fal fa-arrow-circle-right" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                    <div class="img-box">
                        <img src="@imageSource" alt="quote-attribution" class="author-img" data-object-fit/>
                        <div class="photo-credits">
                            @if (editMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(QuoteBoxWidgetProperties.PhotoCredit),
                                    Text = Model.PhotoCredit,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.PhotoCredit)
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="img-box">
                        <img src="@imageSource" alt="quote-attribution" class="author-img" data-object-fit/>
                        <div class="photo-credits">
                            @if (editMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(QuoteBoxWidgetProperties.PhotoCredit),
                                    Text = Model.PhotoCredit,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.PhotoCredit)
                            }
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-8">
                    <div class="text-area">
                        <div class="the-quote">
                            <i class="fas fa-quote-left" aria-hidden="true"></i>
                            @if (editMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(QuoteBoxWidgetProperties.Quote),
                                    Text = Model.Quote,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.Quote)
                            }
                        </div>
                        <div class="the-attribution">
                            @if (editMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(QuoteBoxWidgetProperties.Attribution),
                                    Text = Model.Attribution,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.Attribution)
                            }
                        </div>
                        <p class="the-link">
                            <a href="@Model.ButtonUrl">
                                <span>
                                    @if (editMode)
                                    {
                                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                        {
                                            PropertyName = nameof(QuoteBoxWidgetProperties.ButtonText),
                                            Text = Model.ButtonText,
                                            EnableFormatting = false
                                        });
                                    }
                                    else
                                    {
                                        var buttonText = Regex.Replace(Model.ButtonText ?? "", "<.*?>", String.Empty);
                                        @Html.Raw(buttonText)
                                    }
                                </span>
                                <i class="fal fa-arrow-circle-right" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </div>
            }
        </div>
    </section>
</div>