@using ShawContract.Models.Widgets.SingleFloatingImageWidget
@using ShawContract.Models.InlineEditors
@using System.Text.RegularExpressions

@model ShawContract.Models.Widgets.SingleFloatingImageWidget.SingleFloatingImageWidgetViewModel

@{
    var editMode = Context.Kentico().PageBuilder().EditMode;
    var imageAlignment = Model.ImageAlignment == "right" ? "widget dancing-squares" : "widget dancing-squares left";
    var image = !string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "https://placehold.it/768x534";
    var hasTitle = !string.IsNullOrEmpty(Model.Title) ? "has-title" : String.Empty;
}

<section class="@imageAlignment @hasTitle">
    <div class="title-section text-center">
        <div class="mark"></div>
        <div class="subtitle">
            @if (editMode)
            {
                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel()
                {
                    PropertyName = nameof(SingleFloatingImageWidgetProperties.Subtitle),
                    Text = Model.Subtitle,
                    EnableFormatting = false
                });
            }
            else
            {
                @Html.Raw(Model.Subtitle)
            }
        </div>
        <div class="title">
            @if (editMode)
            {
                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel()
                {
                    PropertyName = nameof(SingleFloatingImageWidgetProperties.Title),
                    Text = Model.Title,
                    EnableFormatting = false
                });
            }
            else
            {
                @Html.Raw(Model.Title)
            }
        </div>
    </div>
    <div class="h-100 position-relative">
        <div class="container">
            <div class="col-sm-12 text-right">
                <div class="content-box">
                    <div class="img-box">
                        <div class="image-wrapper">
                            <img class="dance-img" data-object-fit src="@image" alt="description" />
                        </div>
                        <div class="photo-credits">
                            @if (editMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel()
                                {
                                    PropertyName = nameof(SingleFloatingImageWidgetProperties.PhotoCredit),
                                    Text = Model.PhotoCredit,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.PhotoCredit)
                            }
                        </div>
                    </div>

                    <div class="card info-card text-left">
                        <div class="card-body">
                            <div class="mark"></div>

                            @if (editMode)
                            {
                                <h5 class="card-title blue-regular">
                                    @{
                                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel()
                                        {
                                            PropertyName = nameof(SingleFloatingImageWidgetProperties.WindowTitle),
                                            Text = Model.WindowTitle,
                                            EnableFormatting = false
                                        });
                                    }
                                </h5>
                            }
                            else if (!string.IsNullOrEmpty(Model.WindowTitle))
                            {
                                <h5 class="card-title blue-regular">
                                    @Html.Raw(Model.WindowTitle)
                                </h5>
                            }

                            <div class="card-text">
                                @if (editMode)
                                {
                                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel()
                                    {
                                        PropertyName = nameof(SingleFloatingImageWidgetProperties.Description),
                                        Text = Model.Description,
                                        EnableFormatting = true
                                    });
                                }
                                else
                                {
                                    @Html.Raw(Model.Description)
                                }
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ButtonText))
                            {
                                <a href="@Model.ButtonUrl" class="btn btn-primary large-btn">
                                    @Model.ButtonText
                                </a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dancing-boxes">
            <div class="relative-wrapper">
                <div class="dancing-box dance-box-1"></div>
                <div class="dancing-box dance-box-2"></div>
                <div class="dancing-box dance-box-3"></div>
                <div class="dancing-box dance-box-4"></div>
            </div>
        </div>
    </div>
</section>